<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- Fonts -->
		<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/client/styles/general.css">
	</head>
	<body>
		<nav class="collapse navbar-collapse navbar-menubuilder">
			<ul class="nav navbar-nav navbar-left">
				<li class="nav-item"><a href="#!/feed" class="nav-link"> My Feed </a> </li>
			</ul>
			<ul  class="nav navbar-nav navbar-right" ng-controller="indexCtrl">
				<li ng-if="!isLoggedin()" class="nav-item"><a href="#!/login" class="nav-link"> Login </a> </li>
				<li ng-if="!isLoggedin()" class="nav-item"><a href="#!/new" class="nav-link"> New User</a> </li>
				<li ng-if="isLoggedin()" class="nav-item"> Welcome - {{username}}</li>
			</ul>
		</nav>
		<div class="container">
			<div ui-view></div>
		</div>
		<!-- Libraries -->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<!--  APP  -->
		<script type="text/javascript" src="client/app.js"></script>
		<!-- services -->
		<script type="text/javascript" src="client/components/shared/services/user-service.js"></script>
		<!-- Controllers -->
		<script type="text/javascript" src="client/components/feed/feed-controller.js"></script>
		<script type="text/javascript" src="client/components/login/login-controller.js"></script>
		<script type="text/javascript" src="client/components/new/new-controller.js"></script>
		<script type="text/javascript" src="client/components/index-controller.js"></script>
	</body>
</html>